<div role="tabpanel" class="container-fluid">
  <ul class="nav nav-tabs" role="tablist" id="tabs">
    <li role="presentation" class="active"><a href="#fly" role="tab" data-toggle="tab">Fly</a></li>
    <li role="presentation"><a href="#debug" role="tab" data-toggle="tab">Debug</a></li>
  </ul>
  <div class="tab-content" style="padding-top: 20px">
    <div role="tabpanel" class="tab-pane fade in active" id="fly">
      <div class="row">
        <div class="col-md-6">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=1045 Bryant, San Francisco&zoom=18&size=950x800&maptype=satellite
&markers=color:blue%7Clabel:JS%7C37.771711,-122.407204"/>
        </div>
        <div class="default col-md-3">
          <canvas id="attitude" width="300" height="300"/>
        </div>
        <div class="col-md-3" >
          <div style="background: white; height: 280px; width: 280px; padding: 10px">
            <img src="/qr" height="260" width="260"/>
          </div>
          <a href="/controls" class="btn btn-hollow" style="display: block; width: 280px; margin-top: 15px">controls</a>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="debug">
      <div class="row" style="height: 100%">
        <div class="col-md-9" id="chart-holder">
          <select id="strip-selector" class="pull-right form-control" style="margin-top: 20px; margin-right: 75px; width: 250px">
            <option>Gyro</option>
            <option>Accel</option>
            <option>Attitude</option>
          </select>
          <h3 style="margin-left: 20px">Strip Charts</h3>
          <div id="gyro-strips" class="panel-body"></div>
        </div>
        <div class="col-md-3" style="background: rbga(0,0,0,0.5); height: 100%">
          <h3 style="margin-left: 20px">Logs</h3>
          <div id="log"/>
        </div>
      </div>
    </div>
  </div>
</div>
