<div class="row">
  <div class="col-sm-6">
    
    <h2>{{eventType}}</h2>
    <small>{{time}} ({{timeFromNow}})</small>

  </div>
  <div class="col-sm-6">
    
    <pre>{{dataJSON}}</pre>

  </div>
</div>
<hr/>
