<div class="jumbotron" style="margin-top: 200px;">
  <div class="container">
    <h1>Welcome to the kegerator dickbag!</h1>
    <p>You are just the filthiest most stupid person I've ever met. God why don't you just slam your head in an oven door. Or why not smash a bottle on the ground and then try to eat the shards of glass?</p>
    <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" role="button">Rooty tooty »</a></p>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Fuck off</h4>
      </div>
      <div class="modal-body">
        Fuck off seriously just fuck right off why did you even click this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">I'm a dopey cunt</button>
      </div>
    </div>
  </div>
</div>
