<div class="jumbotron">
  <div class="container">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="images/{{logoFileName}}" />
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{productName}}</h2>
        <div class="kegerator-nav btn-group">
          <a href="#realtime" class="btn">Realtime</a>
          <a href="#kegs" class="btn">Kegs</a>
          <a href="#history" class="btn ">History</a>
        </div>
      </div>
    </div>
  </div>
</div>
