<div class="row" style="height: 100%">
  <div class="col-md-9" id="chart-holder">
    <h3 style="margin-left: 20px">Strip Charts</h3>
    <div id="kegerator-strips" class="panel-body"></div>
  </div>
</div>
