<div class="col-sm-12">
  {{#if title}}
    <h3>{{title}}</h3>
  {{/if}}
  
  <table class="table table-bordered">
    <thead>
      <tr>
        {{#each columnNames}}
          <th>{{this}}</th>
        {{/each}}
      </tr>
    </thead>

    <tbody></tbody>

  <!--
    <tfoot>
      <tr>
        <td colspan="3">some footer information</td>
      </tr>
    </tfoot>
  -->
  </table>
</div>
