<table class="table">
  <thead>
    <tr>
      {{#each sortedModelKeys}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody></tbody>

<!--
  <tfoot>
    <tr>
      <td colspan="3">some footer information</td>
    </tr>
  </tfoot>
-->
</table>
